.txt {
    animation: slideInLeft 1s ease-in-out;
}

.container .products {
    margin: 4em;
    display: flex;
    justify-content: space-between;
    animation: slideInRight 1s ease-in-out;
}

.container .products img {
    width: 50vw;
    border-radius: 10px;
}

.container .products h1{
    font-size: 3rem;
}

.container .products p{
    margin-top: 1em;
    font-size: 1.2rem;
    line-height: 30px;
}

.shop {
    font-size: 1.5rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 1em;
    background-color: #f9f9f9;
    animation: fadeIn 0.5s ease-in-out;
}


.inner-container h2 {
    font-size: 2rem;
    margin: 0.5em;
}

.box{
    margin: 1em;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.box h3 {
  font-size: 1.2rem;
  margin: 0.5em 0 0.3em;
  color: #004d98;
}

.box p {
  padding: 0 0.8em;
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4rem;
}

.box .price {
    color: #a8133e;
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.1rem;
}

.btn {
    background: #edbb00;
    position: absolute;
    top: 25%;
    left: 27%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 1em;
}

.box:hover .btn {
    visibility: visible;
    opacity: 1;
}

.btn:hover {
    transition: scale 0.3s ease-in-out;
}

.box::after{
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 10px;
}

.box:hover::after {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

@keyframes slideInLeft {
    0% {opacity: 0; transform: translateX(-100px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes slideInRight {
    0% {opacity: 0; transform: translateX(100px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media(max-width: 1200px) {
    .container .products{
        flex-direction: column;
        align-items: center;
    }

    .container .products img{
        width: 500px;
        margin-bottom: -2em;
    }
}

@media(max-width: 500px) {
    .container .products img{
        width: 300px;
    }

    .box{
        width: 350px;
        height: 550px;
    }
}


