.container .products {
    margin: 4em;
    display: flex;
    justify-content: space-between;
}

.container .products img {
    width: 50vw;
    border-radius: 10px;
}

.container .products h1{
    font-size: 3rem;
}

.container .products p{
    margin-top: 1em;
    font-size: 1.2rem;
    line-height: 30px;
}

.shop {
    font-size: 1.5rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 1em;
    background-color: #f9f9f9;
}


.inner-container h2 {
    font-size: 2rem;
    margin: 0.5em;
}

.box{
    margin: 1em;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.box h3 {
  font-size: 1.2rem;
  margin: 0.5em 0 0.3em;
  color: #004d98;
}

.box p {
  padding: 0 0.8em;
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4rem;
}

.box .price {
    color: #a8133e;
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.1rem;
}

.box:hover {
    cursor: pointer;
}

@media(max-width: 1200px) {
    .container .products{
        flex-direction: column;
        align-items: center;
    }

    .container .products img{
        width: 500px;
        margin-bottom: -2em;
    }
}

@media(max-width: 500px) {
    .container .products img{
        width: 300px;
    }

    .box{
        width: 350px;
        height: 550px;
    }
}


