@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", sans-serif;
    max-height: 100vh;
}
nav{
    background: linear-gradient(to right, #004d98 0%, #a8133e 50%, #004d98 100%);
    color: #edbb00;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;    
    align-items: center;
}

nav .logo p {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 1.5em;
    margin-right: auto;
}

nav .logo p a {
    text-decoration: none;
    color: #edbb00;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
}

nav ul li{
    list-style: none;
    height: 50px;
}

nav ul li a{
    height: 100%;
    text-decoration: none;
    color: #edbb00;
    display: flex;
    align-items: center;
    padding: 0 1.6em;
}

nav ul li a:hover{
    font-weight: bolder;
}

#drop{
    display: none;
}

.sidebar {
    background: linear-gradient(135deg, #004c98c0 0%, #a8133dc0 50%, #004c98c0 100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

#main-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.left-text{
    margin: 4em 2em 4em 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-text h1{
    margin: 0.3em 0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

.left-text h3{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5em;
}

.left-text p{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.left-text h2{
    font-size: 2rem;
    font-weight: 600;
     margin: 1em 0;
     text-align: center;
}

.btn {
    margin: 0.6em;
    background: linear-gradient(to right, #004d98 0%, #a8133e 50%, #004d98 100%);
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease-in-out;
}

.btn a{
    text-decoration: none;
    color: #edbb00;
}

.btn .material-symbols-outlined {
    position: relative;
    top: 4px;
    right: 4px;
}


.btn:hover {
    background: #edbb00;
    scale: 1.05;
}

.btn:hover a {
  background-image: linear-gradient(to right, #004d98 0%, #a8133e 50%, #004d98 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#messi-image{
    height: 92.9vh;
}

@media (max-width: 1150px) {
    .left-text{
    margin: 4em 1em 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .left-text h1{
        font-size: 2.5rem;
    }
    .left-text p{
    font-size: 1rem;
    }
    .left-text h2{
    font-size: 1.5rem;
    margin: 0.3em;
    }
    #messi-image{
    height: 82vh;
    }
}

@media (max-width: 900px) {
    #drop {
        display: inline;
    }
    .hide{
        display: none;
    }

    .sidebar li a {
        padding: 1em;
        width: 100%;
        text-align: left;
    }

    nav {
        height: 50px;
        justify-content: flex-start;
    }
    #main-header {
        flex-direction: column-reverse;
        align-items: center;
    }   
    .left-text{
       margin-top: 1em;
    }
    #messi-image{
    height: 50vh;
    }
}

